div {
    margin-bottom: 10px;
}

div.content {
    text-align: center;
}

div.array-container {
    margin-bottom: 20px;
}

span {
    font-size: 25px;
    margin-right: 5px;
}

.focus {
    color: red;
}