header {
    padding: 20px;
    background-color: white;
    text-align: center;
}

main {
    display: grid;
}

div.content {
    background-color: white;
    padding: 20px;
}

app-nav-bar {
    display: grid;
}