<div class="content">
    <h2>Insertion Sort</h2>
    <div *ngFor="let sortView of insertionSortIterations">
        <span *ngFor="let element of sortView.sequence; index as i"
            [class.focus]="sortView.focusIndex === i">[ {{element}} ]</span>
    </div>
</div>
<div class="content">
    <h2>Merge Sort</h2>
    <div *ngIf="mergeSortIterations">
        <div class="merge-container" *ngFor="let mergeSortPairs of
            mergeSortIterations.pairLists; index as i">
            <div class="pair-container" *ngFor="let pair of mergeSortPairs">
                <div [class.left]="i !== mergeSortIterations.length - 1"
                    *ngIf="pair.left">
                    <span *ngFor="let element of pair.left">[ {{element}} ]</span>
                </div>
                <div [class.right]="i !== mergeSortIterations.length - 1"
                    *ngIf="pair.right">
                    <span *ngFor="let element of pair.right">[ {{element}} ]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <h2>Heap Sort</h2>
    <div *ngFor="let sequence of heapSortIterations; index as i">
        <span *ngFor="let element of sequence; first as isFirst"
            [class.focus]="isFirst">[ {{element}} ]</span>
    </div>
</div>