div {
    margin-bottom: 10px;
}

div.content {
    text-align: center;
}

div.pair-container {
    display: inline-block;
    text-align: center;
}

div.pair-container div {
    display: inline-block;
    text-align: center;
}

.left {
    margin-left: 25px;
    margin-right: 15px;
}

.right {
    margin-left: 15px;
    margin-right: 25px;
}

span {
    font-size: 25px;
    margin-right: 5px;
}

.focus {
    color: red;
}